<h1>Security Dispatch</h1><br><br>
<ol>
<% @dispatches.each do |dispatch| %>
    <% if dispatch.url == nil %>       
       <li><h4><%= link_to dispatch.title, dispatch_path(dispatch) %></h4></li>
    <% else %>
        <li><h4><%= link_to dispatch.title, dispatch.url %></h4></li>
    <% end %>   
<% end %>
</ol>