/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'body body body body right right'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color: lightslategray;
    padding: 55px;
}

header {
    grid-area: header;
    background-color: coral;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'nav logo user-nav';
    
}

.content {
    grid-area: body;
    background-color: yellow;
    justify-items: center;
    align-items: center;
}

.right_content {
    grid-area: right;
    background-color: purple;
    justify-items: center;
}


footer {
    grid-area: footer;
    background-color: pink;
    
}

.nav {
    grid-area: nav;
}

.logo {
    grid-area: logo;
}

.user_nav {
    grid-area: user-nav;
}