/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'content content content content content content'
    'footer footer footer footer footer footer';
    grid-gap: ;
    background-color: white;
    padding: 5px 20%;
    margin: auto;
    margin-bottom: 0;
    justify-items: auto;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1, h2 {
    font-family: 'Roboto', cursive;
    font-weight: regular;
}

h3, h4, h5 {
    font-size: medium;
}

header {
    grid-area: header;
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'nav logo user-nav';
    
}

.content {
    grid-area: content;
    background-color: lightgrey;
    justify-items: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: lightslategray;
    
}

ul > li {
    list-style: none;
    display: inline-block;
}

/* li {
    display: inline-block;
} */

.nav {
    grid-area: nav;
}

.logo {
    grid-area: logo;
}

.user_nav {
    grid-area: user-nav;
}

.dispatch_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'voting title title title'
    'voting points user-link comment-link';
    align-items: center;
}

.dispatch_link {
    grid-area: title;
}

.dispatch_voting{
    grid-area: voting;
    font-size: smaller;
    
}

.dispatch_points{
    grid-area: points;
    font-size: smaller;
}

.dispatch_user{
    grid-area: user-link;
    font-size: smaller;
}

.dispatch_comments{
    grid-area: comment-link;
    font-size: smaller;
}

.btn {
    background: transparent;
    display: block;
    border: none;
  }

  .btn:hover {
    background-color: gray;
  }